fastapi
uvicorn
pyjwt
httpx
slowapi
motor
pymongo[srv]
python-dotenv
vaderSentiment
pydantic
pydantic-settings
pandas 
numpy 
python-dateutil 
openpyxl
openai
python-multipart
xlrd
google-search-results
pytz
dateparser
beautifulsoup4
lxml
pillow
imageio
imageio-ffmpeg
